@font-face {
  font-family: 'koodak';
  src: url("../fonts/KoodakBold.eot?#") format("eot"), url("../fonts/KoodakBold.ttf") format("truetype"), url("../fonts/KoodakBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nazanin';
  src: url("../fonts/Nazanin.eot?#") format("eot"), url("../fonts/Nazanin.ttf") format("truetype"), url("../fonts/Nazanin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yekan';
  src: url("../fonts/Yekan.eot?#") format("eot"), url("../fonts/Yekan.ttf") format("truetype"), url("../fonts/Yekan.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.Head {
  font-family: "koodak";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #303f9f;
}

.No2 {
  background-color: #303f9f;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.No5 {
  text-align: center;
  -webkit-box-shadow: 0px 0px 15px 0px gray;
          box-shadow: 0px 0px 15px 0px gray;
}

.No6 {
  border-bottom: 5px solid goldenrod;
  background-color: #303f9f;
  color: white;
}

.Poshtiban {
  background-color: #28a745;
  font-family: "koodak";
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: none;
  width: 75px;
  height: 100px;
  margin: 45%;
  z-index: 99;
  -webkit-transform: translateY(-55px);
          transform: translateY(-55px);
}

.Poshtiban:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.No4 {
  color: white;
}

.No4:hover {
  color: gainsboro;
}

.Footer {
  font-family: "koodak";
  background-color: #303f9f;
  height: 250px;
  direction: rtl;
  gap: 100px;
}

.Footer p {
  font-size: 17px;
  word-wrap: break-word;
  width: 200px;
}

.Footer:first-child, ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

ul {
  font-size: 25px;
  color: #333;
}

li a, .Kolie {
  font-size: 16px;
  color: white;
}

li a:hover {
  color: gainsboro;
}

.No1 {
  height: 75vh;
}

.No3 {
  gap: 20px;
  border-right: 1px solid gainsboro;
  border-left: 1px solid gainsboro;
  font-family: "koodak";
}

input, textarea {
  border-radius: 5px;
  border: 1px solid gainsboro;
  -webkit-transition: 1s;
  transition: 1s;
}

input:hover, textarea:hover {
  -webkit-box-shadow: 0px 5px 5px 0px gray;
          box-shadow: 0px 5px 5px 0px gray;
  -webkit-transition: .3s;
  transition: .3s;
}

.No7 {
  width: 450px;
}

.No7 a {
  color: #303f9f;
}

.No7 a:hover {
  color: #17a2b8;
}
/*# sourceMappingURL=Tamas.css.map */